/* Global Styles */
body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 20px;
  background-color: #f5f5f5;
  height: 100vh;
}

h2, h3, h4, p {
  text-align: center;
  margin-bottom: 20px;
}

input, button {
  padding: 10px;
  margin: 10px;
  font-size: 1.2rem;
}

/* Center the input and other sections */
#name-input-section, #auction-section, #nomination-section, #current-auction, #block-section, #bid-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Header Image */
.header-image img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

/* Style the large button */
.large-button {
  padding: 20px 40px;
  font-size: 1.5rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.large-button:hover {
  background-color: #0056b3;
}

/* Responsive font sizes for smaller screens */
@media only screen and (max-width: 600px) {
  body {
    padding: 10px;
  }

  h2, h3, h4, p {
    font-size: 1.2rem;
  }

  input, button {
    width: 100%;
    max-width: 100%;
    font-size: 1.4rem;
  }

  /* Adjust button size on small screens */
  .large-button {
    padding: 15px 30px;
    font-size: 1.2rem;
  }

  input[type="text"], input[type="number"] {
    font-size: 1.2rem;
  }
}

